@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
/* ///////// RESET ////////// */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  font-family: "Red Hat Text", sans-serif;
  background-color: var(--Rose-50);
}

/* ///////// RESET ////////// */

/* ///////// Colors ////////// */

:root {
  --Red: hsl(14, 86%, 42%);
  --Green: hsl(159, 69%, 38%);
  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);
  --white: #ffffff;
  --black: #000000;
}

/* ///////// Colors ////////// */

/* ///////// TYPOGRAPHY ////////// */

.text-1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0px;
  color: var(--Rose-900);
}
.text-2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0px;
  color: var(--Red);
  text-transform: capitalize;
}
.text-2-total {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0px;
  color: var(--Rose-900);
  text-transform: capitalize;
}
.text-3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--Rose-900);
}
.text-3-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--Red);
}
.text-4-regular {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--Rose-500);
}
.text-4-total {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--Rose-900);
}
.text-4-bold {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--Rose-900);
}
.text-4-bold-quantity {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--Red);
}
.text-4-bold-quantity-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--white);
}

/* ///////// TYPOGRAPHY ////////// */
/* ///////// BUTTON ////////// */

.btn-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  background-color: var(--white);
  border: 1px solid var(--Rose-400);
  padding: 12px;
  border-radius: 999px;
  cursor: pointer;
  max-width: 160px;
  width: 100%;
  min-height: 44px;
  margin-top: -22px;
}
.btn-1:hover {
  border: 1px solid var(--Red);
  color: var(--Red);
}

.btn-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: var(--Red);
  border: 1px solid var(--Red);
  color: white;
  padding: 12px;
  border-radius: 999px;
  max-width: 160px;
  width: 100%;
  min-height: 44px;
  margin-top: -22px;
}

.minus-icon,
.plus-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.minus-icon:hover,
.plus-icon:hover {
  background-color: var(--white);
  color: var(--Red);
  border-radius: 999px;
}

.btn-3 {
  width: 100%;
  border: none;
  background-color: var(--Red);
  padding: 16px 24px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--white);
  cursor: pointer;
  font-family: "Red Hat Text", sans-serif;
}
.btn-3:hover {
  background-color: var(--Rose-500);
}

/* ///////// BUTTON ////////// */

main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  max-width: 1440px;
  width: 100%;
  min-height: 1362px;
  padding: 88px 40px;
}

.desserts-container {
  max-width: 800px;
  width: 100%;
  min-height: 1185px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.desserts-grid {
  max-width: 800px;
  width: 100%;
  min-height: 1105px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 24px;
}

.dessert-item-container {
  width: 250px;
  min-height: 347px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dessert-image-container {
  width: 250px;
  min-height: 262px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dessert-image-desktop {
  border-radius: 8px;
}
.dessert-image-tablet,
.dessert-image-mobile {
  display: none;
}
.dessert-content-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cart-container {
  max-width: 384px;
  width: 100%;
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.cart-content p {
  color: var(--Rose-500);
}
.empty-cart-img {
  width: 128px;
  height: 128px;
}
.cart-item {
  width: 100%;
}

.cart-item-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 336px;
  height: 46px;
}

.cart-item-price-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cart-number-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.cart-icon-circle {
  cursor: pointer;
  height: 25px;
  width: 25px;
  color: var(--Rose-400);
}
.cart-icon-circle:hover {
  color: var(--Rose-900);
}
.confirm-order-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  border-top: 1px solid var(--Rose-100);
  padding-top: 24px;
}

.order-totals {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.carbon-neutral {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 1rem;
  background-color: var(--Rose-50);
  border-radius: 8px;
}
.carbon-icon {
  height: 20px;
  width: 20px;
}

.confirmation-modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: all 0.3s ease-in-out;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirmation-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  opacity: 1;
  max-width: 592px;
  width: 100%;
}

.confirmed-items-list-container {
  display: flex;
  flex-direction: column;
  max-width: 512px;
  width: 100%;
  padding: 24px 0;
  border-bottom: 1px solid var(--Rose-100);
}
.confirmed-items-list-container:first-child {
  padding-top: 0;
}

.confirm-items {
  display: flex;
  flex-direction: column;
  max-width: 512px;
  width: 100%;
  background-color: var(--Rose-50);
  padding: 24px;
  border-radius: 8px;
}

.confirmed-items-ordered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.confirmed-order-left {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.confirm-order-item-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.confirm-order-item-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.confirm-order-item-image {
  height: 48px;
  width: 48px;
  border-radius: 4px;
}

.confirmation-message {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.confirmation-message-confirmed {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.confirmed-items {
  display: flex;
  flex-direction: column;
}
.confirmed-order-total {
  padding-top: 24px;
  border-top: 1px solid var(--Rose-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.confirmed {
  height: 48px;
  width: 48px;
}

.confirm-order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--rose-100);
  padding-block: 1rem;
}

.hidden {
  display: none;
}

@media (max-width: 1300px) {
  main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 768px;
    min-height: 1512px;
    padding: 40px 40px;
  }

  .desserts-container {
    max-width: 688px;
    min-height: 1101px;
    order: 1;
  }
  .desserts-grid {
    max-width: 688px;
    min-height: 1101px;
  }

  .dessert-item-container {
    width: 213px;
    min-height: 319px;
  }
  .dessert-image-container {
    width: 213px;
    min-height: 234px;
  }
  .dessert-image-desktop {
    border-radius: 8px;
    display: none;
  }
  .dessert-image-tablet {
    display: block;
    border-radius: 8px;
  }

  .cart-container {
    max-width: 688px;
    order: 2;
  }
  .cart-item-info {
    max-width: 640px;
  }
  .confirmation-content {
    max-width: 688px;
  }

  .confirmed-items-list-container {
    max-width: 608px;
  }

  .confirm-items {
    max-width: 608px;
  }
}

@media (max-width: 735px) {
  main {
    flex-direction: column;
    max-width: 375px;
    min-height: 3522px;
    padding: 24px 24px;
  }

  .desserts-container {
    max-width: 327px;
    min-height: 3143px;
    order: 1;
  }
  .desserts-grid {
    max-width: 327px;
    min-height: 3143px;
    grid-template-columns: repeat(1, 1fr);
  }

  .dessert-item-container {
    width: 327px;
  }
  .dessert-image-container {
    width: 327px;
  }
  .dessert-image-tablet {
    display: none;
  }
  .dessert-image-mobile {
    display: block;
    border-radius: 8px;
  }

  .cart-container {
    max-width: 327px;
  }
  .confirmation-content {
    max-width: 375px;
    padding: 40px 24px;
  }

  .confirmed-items-list-container {
    max-width: 327px;
  }

  .confirm-items {
    max-width: 327px;
  }
}
